* { padding: 0; margin:0; border:0; box-sizing:border-box; }

body {
    color:                      rgb(85, 85, 85);
    background:                 rgb(225, 212, 182);

    --ink-text:                 rgb(85, 85, 85);

    --ink-story-background:     rgb(241, 226, 192);
    --ink-story-text:           rgb(111, 97, 52);
    --ink-story-separator:      rgb(203, 186, 148);

    --ink-button-text:          rgb(167, 136, 45);
    --ink-button-background:    rgb(241, 226, 192);
    --ink-button-border:        rgb(167, 136, 45);
    --ink-button-text-hover:          rgb(0, 155, 152);
    --ink-button-background-hover:    rgb(249, 239, 218);
    --ink-button-border-hover:        rgb(167, 136, 45);
}

/**** FOR TESTER ONLY ****/
#ink__header {
    position:           fixed;
    z-index:            2;
    top:                0;
    left:               0;
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    space-between;
    width:              100%;
    height:             3em;
    color:              #fff;
    background:         rgba(0,0,0,.8);
    backdrop-filter:    blur(.15em);
}
#ink__header a {
    padding:            .5em;
    color:              #fff;
}
#ink__header-menu {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
}
#ink__header-menu a {
    opacity:            .5;
}
#ink__header-menu a:hover {
    opacity:            1;
}
/**** END OF TESTER ONLY STYLES ****/



#ink__story {
    padding-bottom:     .5em;
    color:              var(--ink-story-text);
    background-color:   var(--ink-story-background);
}
#ink__story p {
    padding:            0 .5em;
    color:              var(--ink-story-text);
}
#ink__story p:not(.ink__choice)
{
    border-bottom:      1px solid var(--ink-story-separator);
}
#ink__story p.player {
    font-weight:        bolder;
    text-align:         right;
}

#ink__container .ink__choice a {
    display:        inline-block;
    padding:        .4em 1em;
    color:          var(--ink-button-text);
    border:         .1em solid var(--ink-button-border);
    border-radius:  .5em;
    background:     var(--ink-button-background);
    transition:     all 150ms ease-in-out;
}
#ink__container .ink__choice a:hover {
    color:          var(--ink-button-text-hover);
    border-color:   var(--ink-button-border-hover);
    background:     var(--ink-button-background-hover);
}
