body {
    font-family:    sans-serif;
    margin:         0;
    padding:        0;
    color:          black;
    background:     white;
    overflow:       hidden;
}



/*
    Everything is inside this element
*/
#ink__container, #ink__container * { box-sizing: border-box }
#ink__container {
    display:        block;
    width:          100%;
    height:         100%;
    max-height:     100vh;
    padding-bottom: 1em;
    overflow:       scroll;
    overflow-x:     hidden;
    background-position:    top left;
    background-repeat:      repeat;
    background-size:        20vw auto;
    -webkit-overflow-scrolling: touch;
    user-select:    none;
}

/*
    Reset box model
*/
#ink__container * {
    margin:         0;
    padding:        0;
    border:         0;
    box-sizing:     border-box;
}


#ink__container h1,
#ink__container h2 {
    text-align:     center;
    font-family:    serif;
    margin:         0;
    padding:        0;
}

#ink__container h1 {
    font-size:      2.2em;
    margin-bottom:  .3em;
}

#ink__container h2 {
    font-size:      1.8em;
    font-style:     italic;
    font-family:    sans-serif;
    font-weight:    lighter;
    color:          #BBB;
}

#ink__container p {
    font-size:      1.2em;
    color:          #555;
    line-height:    1.4em;
    padding:        .2em 0;
}

#ink__container strong {
    color:      #000;
    font-weight: bold;
}

#ink__container img,
#ink__container video {
    display:    block;
    max-width:  100%;
}
#ink__container iframe {
    width:      100%;
    height:     20em;
}


#ink__container .ink__hide {
    opacity:        0;
}

#ink__container .ink__invisible {
    display:        none;
}


#ink__story {
    margin:         0 auto;
    width:          100%;
    max-width:      600px;
}
/*
    Make all paragraphs appear with a fade in effect
*/
#ink__story>* {
    opacity:        1;
    transition:     opacity 1s ease-out;
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
#ink__container .ink__choice {
    margin-bottom:  .5em;
    text-align:     center;
    line-height:    1.7em;
    transition:     opacity 500ms ease-out;
}
/*
  Class applied to first choice
*/
#ink__container :not(.ink__choice)+.ink__choice {
    padding-top:    1em;
}


#ink__container .ink__choice a {
    font-size:      1em;
    font-weight:    700;
    color:          #888;
    background:     #fff;
    transition:     color 300ms;
    text-decoration: none;
}

#ink__container .ink__choice a:hover {
    color:      #000;
    transition: color 0.1s;
}






/*
  Built-in class:
    The End # CLASS: end
*/
#ink__container .end {
    text-align:     center;
    font-weight:    bold;
    color:          #000;
    padding:        2em 0;
}




/*
  Built-in
    In case you want to put all choices somewhere else
*/
#ink__choices {
    position:       absolute;
    z-index:        2;
    bottom:         0;
    left:           0;
    display:        flex;
    flex-direction: row;
    justify-content: center;
    width:          100%;
    padding:        .5em;
    gap:            .5em;
}
#ink__choices[ink-orient='vertical'] {
    flex-direction: column;
}
